crates/git-ents-server/src/web/icons/LICENSE vendor=octicons
crates/git-ents-server/src/web/icons/check.svg vendor=octicons
crates/git-ents-server/src/web/icons/chevron-right.svg vendor=octicons
crates/git-ents-server/src/web/icons/clock.svg vendor=octicons
crates/git-ents-server/src/web/icons/file-directory-fill.svg vendor=octicons
crates/git-ents-server/src/web/icons/file.svg vendor=octicons
crates/git-ents-server/src/web/icons/git-branch.svg vendor=octicons
crates/git-ents-server/src/web/icons/git-commit.svg vendor=octicons
crates/git-ents-server/src/web/icons/issue-opened.svg vendor=octicons
crates/git-ents-server/src/web/icons/north-star.svg vendor=octicons
crates/git-ents-server/src/web/icons/plus.svg vendor=octicons
crates/git-ents-server/src/web/icons/repo.svg vendor=octicons
crates/git-ents-server/src/web/icons/search.svg vendor=octicons
crates/git-ents-server/src/web/icons/tag.svg vendor=octicons
